<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      {% for house in houses %}
      #map{{forloop.counter}} {
        height: 300px;
        width: 300px;
      }
      {% endfor %}
</style>
<body>
{% for house in houses %}

    <div>
        <h3>RMLS = {{ house.rmls_num }} Price = ${{ house.price}}</h3>
        <h4>Address = {{house.address}}</h4>
        <table>
            <tr>
            <td><img src="{{house.image}}" /></td>
            <td><div id="map{{forloop.counter}}"></div></td>
            </tr>
        </table>
    </div>
    <table>

        {% for link in house.links %}
            <tr><td><a href="{{link.site}}"> {{link.name}} </a></td></tr>
        {% endfor %}

    </table>


{% endfor %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>

    function initialize() {
        {% for house in houses %}
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': '{{house.address}}'
            }, function(results, status) {
                var lat=results[0].geometry.location.lat();
                var lng=results[0].geometry.location.lng();

                var map = new google.maps.Map(document.getElementById('map{{forloop.counter}}'), {
                    center: {lat: lat, lng: lng},
                    zoom: 12
                });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, lng),
                    title: '{{house.address}}',
                    map: map,
                });
            });
        {% endfor %}
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>

</body>
</html>